@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #282734;
    font-family: 'Poppins', sans-serif;
}

.aboutUsCard:nth-child(2) {
    margin-right: 20px;
}

@media only screen and (max-width: 768px) {
    .aboutUsCard:nth-child(2) {
        margin-right: 0;
    }
}


#contact {
    z-index: 10;
}

.st0 {
    fill: #363440;
}

.st1 {
    fill: #74116f
}

.st2 {
    opacity: .55;
    fill: #9435a2
}

.st3 {
    fill: #d7f0f9
}

.st4 {
    fill: #0582c1
}

.st5 {
    fill: #79c9e8
}

.st6 {
    fill: #ffbf4d
}

.st7 {
    fill: #00668e
}

.st8 {
    fill: #05556d
}

.st9 {
    fill: #f98d3d
}

.st10 {
    fill: #ed701b
}

.st11 {
    fill: none
}

.st12 {
    fill: #efaa3a
}

.st13 {
    opacity: .29;
    fill: #f98d2b
}

.st14 {
    fill: #49b4d6
}

.st15 {
    fill: #ff9f50
}

.st16 {
    fill: #f77e2d
}

.st17 {
    opacity: .55;
    fill: url(#SVGID_1_)
}

